


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  position: relative;
  overflow: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  /* height: 1200vw; */
}
#wrapper{
  max-width: 100vw;
  height: 380vw;
}
h1 {
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: 50px;
  color: white;
}
#topic{
  position: absolute;
  margin-top: 20vw; 
  font-family: 'Bai Jamjuree',sans-serif;
  padding-right: 27vw;
  padding-left: 27vw;
  line-height: 0.1em;
  font-weight: 400;
  width: 100%;
}

#topic-11{
  font-family: 'Bai Jamjuree',sans-serif;
  position: absolute;
  text-align: left;
  margin-left: 40vw;
  color: white;
  font-size: 4vw;
  font-weight: 500;
  line-height: 1.65vw;
  width: 100%;

} 
#topic-12{
  visibility: hidden;
  font-family: 'Bai Jamjuree',sans-serif;
  /* position: absolute; */
  text-align: left;
  /* margin-left: 0vw; */
  margin-top: 640vw;
  color: white;
  font-size: 5vw;
  font-weight: 500;
  line-height: 1.65vw;
  width: 100%;


} 
.topic-1{
  margin-bottom: 2vw;
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: 1.25vw;
  line-height: 2.5em;
  font-weight: 500;
  width: 100%;
}
#topic-2{
  margin-top: 300vw;
  margin-left: 20vw;
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: 1.25vw;
  line-height: 2.5em;
  font-weight: 500;
  width: 100%;
}
#topic-all{
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: 1.25vw;
  line-height: 2em;
  font-weight: 500;
}
#topic-all-6,#topic-all-7,#topic-all-8{
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: 6vw;
  line-height: 2em;
  font-weight: 500;
}
#text-1{
  font-family: 'Bai Jamjuree',sans-serif;
  position: absolute;
  text-align: left;
  padding-right: 27vw;
  padding-left: 27vw;
  margin-top: 22vw;
  color: white;
  font-weight: 300;
  line-height: 1.5em;
  width: 100%;

}
#text-11{
  font-family: 'Bai Jamjuree',sans-serif;
  position: absolute;
  text-align: left;
  margin-left: 40vw;
  padding-right: 30vw; 
  margin-top:35vw;
  color: white;
  font-weight: 300;
  line-height: 1.5rem;
  width: 100%;

} 
#text-2{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 105vw;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.55em;
  transform: translateY(1vw);
  transition: 0.75s ease-in-out;
  opacity: 0;
} 
#text-2.active{
  transform: translateY(0vw);
  opacity: 1;
}
#text-22{
  visibility: hidden;
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 250vw;
  color: rgb(35, 35, 35);
  font-weight: 500;
  line-height: 1.25em;
}
#text-3{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 145vw;
  margin-right: 40vw;
  text-align: center;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.25em;
  opacity: 0;
  transition: 0.75s ease-in-out;
  transform: translateX(-0.5vw);
} 
#text-3.active{
  transform: translateX(0vw);
  opacity: 1;
}


#text-4{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 215vw;
  margin-left: 40vw;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5em;
}
#text-44{
  visibility: hidden;
}  
#text-5{
  background-color: #202020af;
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 245vw;
  margin-left: 35vw;
   padding: 3vw;
   border-radius: 2vw;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5em;
} 
#text-55{
  visibility: hidden;
} 
#text-6{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 302vw;
  margin-left: 30vw;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5em;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#text-6.active{
  transform: translateY(0vw);
  opacity: 1;
}
#text-66,#text-77,#text-88{
  visibility: hidden;
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-left: 8vw;
  color: rgb(35, 35, 35);
  font-weight: 500;
  line-height: 1.5em;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#text-66.active,#text-77.active,#text-88.active{
  transform: translateY(0vw);
  opacity: 1;
}
#text-7{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 320vw;
  margin-left: 32vw;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5em;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#text-7.active{
  transform: translateY(0vw);
  opacity: 1;
}
#text-8{
  position: absolute;
  font-family: 'Bai Jamjuree',sans-serif;
  margin-top: 340vw;
  margin-left: 35vw;
  color: rgb(35, 35, 35);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5em;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#text-8.active{
  transform: translateY(0vw);
  opacity: 1;
}

#brown{
  position: absolute;
  max-width:100%;
}
#camera{
  position: absolute;
  margin-top: 360vw;
  margin-left: 65vw;
  width: 20%;
  animation: camera-animate ease 2s  infinite;
  -moz-animation: camera-animate ease 2s  infinite;
  -webkit-animation:  camera-animate ease 2s  infinite;
}
@keyframes camera-animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
#paper{
  position: absolute;
  margin-top: 372vw;
  width: 100%;
}
#film{
  position: absolute;
  width:100%;
  
}
#ttlido{
  position: absolute;
  margin-top: 10vw;
  width:100%;
}
#ttlido1{
  visibility: hidden;
  margin-top: 10vw;
  position: absolute;
  width:100%;
}
#tablido{
  width:100%;
  margin-top: 80vw;
  position: absolute;
}
#logo{
  margin-top: 79.5vw; 
  position: absolute; 
  width:25%;
}
#lidologo{
  margin-top: 75vw; 
  position: absolute; 
  width:100%;
  transform: translate(100vw, 0vw);
  transition: 3s ease-in-out;
}
#lidologo.active{
  transform: translate(0vw, 0vw);
}

#building{
  margin-top: 138vw;
  position: absolute;
  width: 100%;
}
#vector-gray{
  margin-top: 180vw;
  position: absolute;
  /* max-width:100%; */
  width: 100%;
}
#vector-gray1{
  visibility: hidden;
}
#people-lido{
  margin-top: 232vw;
  position: absolute;
  /* max-width:100%; */
  width: 100%;
}
#tape{
  margin-top: 214vw;
  position: absolute;
  margin-left: -25vw;
  /* max-width:100%; */
  width: 50%;
}
#tape1{
  margin-top: 278vw;
  position: absolute;
  margin-left: 35vw;
  /* max-width:100%; */
  width: 30%;
}
#gobchai{
  margin-top: 202vw;
  position: absolute;
  margin-left: -23vw;
  /* max-width:100%; */
  width: 15%;
}
#people1{
  margin-top: 274vw;
  position: absolute;
  margin-left: -155vw;
  /* max-width:100%; */
  width: 14%;
  /* transition: .25s ease-in-out; */
}
#people2{
  margin-top: 274.5vw;
  position: absolute;
  margin-left: -105vw;
  /* max-width:100%; */
  width: 20%;
  /* transition: .25s ease-in-out; */
}
#change1{
  margin-top: 292vw;
  position: absolute;
  margin-right: 30vw;
  /* max-width:100%; */
  width: 30%;
  transform: translateY(2vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#change1.active{
  transform: translateY(0vw);
  opacity: 1;
}
#change2{
  margin-top: 309vw;
  position: absolute;
  margin-right: 30vw;
  /* max-width:100%; */
  width: 35%;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#change2.active{
  transform: translateY(0vw);
  opacity: 1;
}
#change3{
  margin-top: 332vw;
  position: absolute;
  margin-right: 30vw;
  /* max-width:100%; */
  width: 30%;
  transform: translateY(1vw);
  transition: 1s ease-in-out;
  opacity: 0;
}
#change3.active{
  transform: translateY(0vw);
  opacity: 1;
}
#lidologosemi{
  position: absolute;
  visibility: hidden;
}
#light-brown{
  position: absolute;
  visibility: hidden;
}
@media(min-width: 0px) and (max-width: 1440px) {
  #paper{
    margin-top: 380vw;
  }
}

@media(min-width: 0px) and (max-width: 799px) {
  #wrapper{
    max-width: 100vw;
    height: 1320vw;
  }
  #film{
    margin-top: 75.5vw;
  }
  #lidologosemi{
    visibility: visible;
    scale: 100%;
    margin-top: 165vw;
    transform: translate(100vw, 0vw);
    transition: 3s ease-in-out;
  }
  #lidologosemi.active{
    transform: translate(0vw, 0vw);
  }
  #lidologo{
    visibility: hidden;
  }
  #brownup{
    visibility: visible;
  }
  #text-22{
    visibility: visible;
    margin-left: 20vw;
    padding-right: 13vw;
    text-align: center;
    transform: translateY(1vw);
    transition: 2.25s ease-in-out;
    opacity: 0;
  } 
  #text-22.active{
    transform: translateY(0vw);
    opacity: 1;
  }
  #text-11{
    margin-top: 35vw;
    margin-left: 55vw;
    padding-right: 49vw;
    line-height: 1.25rem;
  }
  #topic-11{
    margin-top: 30vw;
    margin-left: 55vw;
  }
  #building{
    margin-top: 350vw;
    position: absolute;
    /* max-width:100%; */
    width: 100%;
  }
  #ttlido1{
    visibility: visible;
  }
  #vector-gray{
    margin-top: 250vw;
  }
  #text-33{
    visibility: visible;
    position: absolute;
    font-family: 'Bai Jamjuree',sans-serif;
    margin-top: 320vw;
    margin-right: 0vw;
    text-align: center;
    color: rgb(35, 35, 35);
    font-size: 3.75vw;
    font-weight: 500;
    line-height: 1.25em;
    opacity: 0;
    transition: 1s ease-in-out;
    transform: translateX(-0.5vw);
  } 
  #text-33.active{
    transform: translateX(0vw);
    opacity: 1;
  }
  #text-3{
    visibility: hidden;
  }
  #text-4{
    visibility: hidden;
  }
  #text-44{
    visibility: visible;
    position: absolute;
    font-family: 'Bai Jamjuree',sans-serif;
    padding-right: 15vw;
    margin-top: 465vw;
    margin-left: 15vw;
    color: rgb(35, 35, 35);
    font-size: 3.75vw;
    font-weight: 400;
    line-height: 1.5em;
  }
  #gobchai{
    margin-top: 420vw;
    margin-left:0vw;
    width: 25%;
  }
  #vector-gray{
    visibility: hidden;
  }
  #vector-gray1{
    visibility: visible;
    margin-top: 390vw;
    position: absolute;
    /* max-width:100%; */
    width: 100%;
  }
  #people-lido{
    margin-top: 550vw;
  }
  #people1{
    margin-top: 592vw;
  }
  #people2{
    margin-top: 592vw;
  }
  #tape{
    margin-top: 532vw;
    margin-right: 40vw;
  }
  #tape1{
    margin-top: 596vw;
    margin-left: 70vw;
  }
  #text-5,#topic-1,#text-6,#text-7,#text-8{
    visibility: hidden;
  }
  #text-55{
    visibility: visible;
    position: absolute;
    font-family: 'Bai Jamjuree',sans-serif;
    margin-top: 650vw;
    margin-left: 15vw;
     padding-right: 15vw;
     border-radius: 2vw;
    color: rgb(255, 255, 255);
    font-size: 3.75vw;
    font-weight: 400;
    line-height: 1.5em;
  } 
  #light-brown{
    visibility: visible;
    margin-top: 620vw;
  }
  #topic-2{
    margin-top: 805vw;
    font-size: 4.5vw;
    margin-left: 80vw;
  }
  #change1{
    margin-top: 800vw;
    width: 100%;
    margin-left: 35vw;
  }
  #change2{
    margin-top: 950vw;
    width: 100%;
    margin-left: 35vw;
  }
  #change3{
    margin-top: 1100vw;
    width: 100%;
    margin-left: 35vw;
  }
  #text-66{
    visibility: visible;
    margin-top: 880vw;
    font-size: 3.75vw;
  }
  #text-77{
    visibility: visible;
    margin-top: 1020vw;
    font-size: 3.75vw;
    margin-left: 10vw;
    padding-right: 12vw;
  }
  #text-88{
    visibility: visible;
    margin-top: 1180vw;
    font-size: 3.75vw;
    margin-left: 10vw;
    padding-right: 12vw;
  }
  #topic-12{
    visibility: visible;
  }
  #camera{
    margin-top: 1308vw;
    margin-left: 50vw;
    width: 50%;
    
  }

}


@media(min-width: 401px) and (max-width: 799px) {
  #text-1,#topic{
    padding-left: 25vw;
    padding-right: 25vw;
  }
  #topic{
    margin-top: 25vw;
  }
  #text-1{
    margin-top: 30vw;
  }
  #people1{
    margin-right: 105vw;
  }
  #people2{
    margin-right: 105vw;
  }
  #paper{
    margin-top: 1330vw;
  }
  #camera{
    margin-top: 1295vw;
  }
}

@media(min-width: 0px) and (max-width: 629px) {
  #film{
    margin-top: 74vw;
  }
  #paper{
    margin-top: 1345vw;
  }
}
@media(min-width: 10px) and (max-width: 399px) {
  #text-11{
    line-height: 1.25rem;
  }
  #topic-11{
    font-size: 5vw;
  }
  #people1{
    margin-right: 205vw;
  }
  #people2{
    margin-right: 205vw;
  }
  #paper{
    margin-top: 1345vw;
  }
  #camera{
    margin-top: 1310vw;
  }
}


