.body {
    background-color: #453e2f;
    width: 100vw;
}
.logo {
    animation: blinker 1.5s infinite;
}
@keyframes blinker {
    0% { opacity: 0.5; }
    20% { opacity: 0.75; }
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    70% { opacity: 0.5; }
    75% { opacity: 1; }
    100% { opacity: 0.75; }
  }
#txt-01 {
    transform: translateY(50px);
    transition: 1s ease-in-out;
    opacity: 0;
}
#txt-01.active {
    transform: translateY(0px);
    opacity: 1;
}