body {
    background-color: #453E2F;
}
.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scalalogo {
    width: 60%;
    max-width: 1920px;
    height: auto;
    position: relative;
    margin-top: 5%
}
.herotext {
    color: white;
    text-align: center;
    margin-top: -12%;
    font-size: 1vw;
}
.context {
    position: relative;
}
.divaura1 {
    position: absolute;
}
.divaura2 {
    position: absolute;
}
/* .aura1 {

} */
.aura2 {
    margin-left: 40%;
    transform: rotate(60deg);
}
/* .divcar {

}
.car {
    
} */